$bg: #282828;
$fg: #fbf1c7;
$hl: #689d6a;
$yellow: #fabd2f;
$red: #fb4934;

body {
  background-color: $bg;
  color: $fg;
}

div.container {
  height: 100%;
  line-height: 150%;
  min-width: 490px;

  div.main {
    flex: 1;
  }

  div.content {
    min-height: calc(100% - 140px);
    display: flex;
    padding: 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    div.description {
      a.logo {
        width: 64px;
        height: 64px;
        background-image: url('./logo.png');
        background-position: center;
        background-size: cover;
        display: inline-block;
      }

      margin-bottom: 40px;
    }
  }

  ul.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;

    li {
      display: flex;
      align-items: stretch;
      list-style: none;
      width: 200px;
      transition: 0.5s;
      border-radius: 2px;
      padding: 0 0 10px 10px;

      div.title-section {
        display: flex;
        align-items: top;
        justify-content: flex-start;
        margin-bottom: 10px;

        svg {
          font-size: 1.5rem;
          padding-right: 10px;
        }
      }

      &:hover {
        cursor: pointer;

        svg {
          color: $yellow;
          transition: 0.5s;
        }
      }

      a {
        color: $fg;
        background-color: lighten($bg, 4%);
        text-decoration: none;
        padding: 15px;
        margin: 0px;
        display: block;
        width: 100%;

        &:hover {
          background-color: lighten($bg, 10%);
          transition: 0.5s;
        }

        span {
          display: block;

          &.title {
            color: $hl;
          }

          &.brief {
            font-size: 75%;
            line-height: 130%;
          }
        }
      }
    }
  }
}


@font-face {
	font-family: 'si';
	src: url('./fonts/socicon/socicon.eot');
	src: url('./fonts/socicon/socicon.eot?#iefix') format('embedded-opentype'),
	url('./fonts/socicon/socicon.woff') format('woff'),
	url('./fonts/socicon/socicon.ttf') format('truetype'),
	url('./fonts/socicon/socicon.svg#icomoonregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family:si;
		src: url(./fonts/socicon/socicon.svg) format(svg);
	}
}

.soc {
	margin-top: 40px;
	padding: 0;
	list-style: none;
	text-align: center;

  li {
    display:inline-block;
    *display:inline;
    zoom:1;

    a { 
      font-family:si!important;
      font-style:normal;
      font-weight:400;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
      -o-box-sizing:border-box;
      box-sizing:border-box;

      -o-transition:.1s;
      -ms-transition:.1s;
      -moz-transition:.1s;
      -webkit-transition:.1s;
      transition:.1s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);

      overflow: hidden;
      text-decoration: none;
      text-align: center;
      display: block;
      position: relative;
      z-index: 1;
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 13px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-right: 10px;
      color: #ffffff;
      background-color: none;

      &:hover {
        z-index: 2;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}

.soc-icon-last{
	margin: 0 !important;
}

.soc-facebook {
	background-color: #3e5b98;
}

.soc-facebook:before {
	content: 'b';
}

.soc-linkedin {
	background-color: #3371b7;
}

.soc-linkedin:before {
	content: 'j';
}

.soc-github {
	background-color: #5380c0;
}

.soc-github:before {
	content: 'Q';
}

.links {
  text-align: center;

  a {
    text-decoration: none;
    color: $fg;
    font-weight: 200;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.5s;

    &:hover {
      text-decoration: underline;
      transition: 0.5s;
    }
  }
}

.attribution {
  color: #525252;
  text-align: center;
  font-size: 0.9em;

  a {
    color: #525252;
  }
}

.details {
  button {
    color: $red;
    background: none;
    border: none;
    text-decoration: none;
    font-weight: 1000;
    font-size: 1.4em;

    &:hover {
      cursor: pointer;
    }
  }

  h3 {
    color: $hl;
  }

  a {
    color: $yellow;
    text-decoration: none;
    font-weight: bold;
  }

  div.project-image-container {
    margin-top: 10px;

    img {
      max-width: 100%;
    }
  }

  div.focused-title-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;

    svg {
      font-size: 1.5rem;
      padding-left: 10px;
    }
  }
}
